<!Doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>TodoListApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href = "src/styles.css" type="text/css" />
  <link rel="icon" href="public/favicon.ico" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
  <div ng-app="myApp" ng-controller="tasksCtrl">  
    <h1>TodoList</h1> 
    <input id = "task0"  ng-model="task.input"  type="text" placeholder = "New task">
    <button id = "add-btn" type="button" ng-click="addTask()"> Add </button>
    <button id = "del-btn" type="button" ng-click="clearTasks()"> Clear </button>
    <br>
    <div id="lists">
      <ul>
        <li ng-repeat = "taskItem in tasks">
            <input id="tick" type="checkbox" ng-model="taskItem.done" > 
            {{taskItem.name}} 
        </li>
      </ul>
    </div>
    <p id="errorText">{{ errorText }}</p>
  </div>
 
  <script src="src/app/app.js"></script>
  <script src="src/app/controllers/tasks.js"></script>
</body>
</html>
