body{
    background-color: rgb(242, 242, 147);
}

input[type = "text"]{
    width: auto;
    padding: 5px 5px;
    margin: auto;
    font-size: 24px;
    text-align:center;
    border: none;
    overflow: auto;
    outline: none;

}
#task0{
    background-color: white;
    color: black;
    font-weight:bold;
    margin:auto;
    border: hidden;
    border-bottom: inset;
    border-bottom-color: purple; 
    height: 35px;
    width: 400px;
    margin-left:35%;
    outline: none;
}
#add-btn{
    background-color: rgb(60, 151, 224);
    color: white;
    height: 40px;
    width: 55px;
    margin-left: 20px;
    border: 3px indigo inset;
    border-radius: 20px;
    font-size: 16px;
    padding: auto;
    box-shadow: 4px 4px 4px purple;
    cursor: pointer;

}
#del-btn{
    background-color: red;
    color: white;
    height: 35px;
    margin-left: 20px;
    border: 3px inset;
    border-color: rgb(230, 78, 78);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 4px 3px 3px red;

}
h1{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}
p{
    border: none;
    border-color:rgb(242, 242, 147);
    border-style: solid;
    font-size: 16px;

}
li{
    list-style-type: none;
    padding: 15px;
    height: max-content;
    
}
#lists{
    font-size: 25px;
    line-height:20px;
    margin-left:35%;
    
}

#errorText{
    color: red;
    Font-size: 24px;
    text-align: center;

}

#tick{
    cursor:pointer;
}
@media only screen and (max-width: 800px) {
    body{
        background-color: rgb(242, 242, 147);
    }
    #task0, #add-btn, #del-btn{
        margin:auto;
    }
  }